<h1>Про проект</h1>
<div class="static-content">
  <h4>Короткий опис</h4>
  <p>Даний веб застосунок розроблено як "pet-project" на платформі Ruby on Rails, база даних Postgresql</p>
  <p>Це проста інтуїтивно зрозуміла онлайн платформа для продажу товарів через Інтернет. 
  Застосунок розділений на клієнтську та адмінську частини.
  Відвідувачу доступно дял перегляду каталоги товарів та статичні сторінки застосунку такі як "про проєкт" та "домашня сторінка".
  Кожен відвідувач може здійснити покупку товару одразу після реєстрації на сайті, вказавши свою електронну адресу.
  Одразу після покупки клієнту та адміністратору сайту приходить електронний лист з підтвердженням покупки.
  Доступ до адмін частини мають зареєстровані користувачі з правами адміністратора.
  Адміністратори окрім функцій доступних зареєстрованим користувачам можуть правити бузу даних товарів, (CRUD операції),
  а також блокувати/рзблоковувати користувачів, зареєстрованих у застосунку та надавати або скасовувати окремим користувачам права адміністратора.</p>
  <h4 >Функції реалізовані у додатку</h3>
  <ul>
    <li>Реєстрація, авторизація та автентифікація користувача</li>
    <li>Зручний та швидкий пошук товарів, замовлень та користувачів по базі даних </li>
    <li>Мобільна версія</li>
    <li>Адаптивний дизайн</li>
    <li>Зручна прокрутка позицій та швидке завантаження контенту завдяки функції "lazy loading"</li>
    <li>Зручний кошик та історія замовлень</li>
    <li>Захист від випадкового видалення останнього адміністратора </li>
    <li>Редагування/видалення позицій товарів як поодинці так і усього розділу в одній формі</li>
    <li>Підтримка завантаження товарів у .CSV форматі (CRUD) </li>
    <li>Вивантаження бази даних товарів у .CSV форматі</li>
  </ul>
  <h4>Структура бази даних</h3>
  <p></p>
  <h4>Інструменти використані для розробки даного застосунку </h3>
  <ul>
    <li> Ruby on Rails </li>
    <li> Postgresql </li>
    <li>Hot Wire (Turbo Stream) </li>
    <li>HTML, SCSS, CSS3, Java</li>
    <li>### Captcha </li>
    <li>gem I18n інтернаціоналізація з підтримкою двох мов</li>
    <li>gem Devise реєстрація та авторизація користувача</li>
    <li>gem Pandit адміністрування прав доступу</li>
    <li>gem Roify автентифікація користувача</li>
    <li>gem Pagy пагінація сторінок</li>
    <li>Дизайн, пошук, підтримка .CSV та решта функціоналу самописні</li>
  </ul>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
</div>
