<h1>Крамничка сувенірів <span class="rainbow-logo">ВЕСЕЛКА</span></h1>
<%# fun logo %>
<div class="static-content">
<p>Ласкаво просимо до крамнички сувенірів. Тут ви можете придбати цікаві дрібнички для декору та побуту.
Для зручності користування в кожному розділі присутній швидкий пошук потрібного товару.
Щоб щоб придбати обрані товари, будь ласка, <%= link_to "увійдіть", new_user_session_path, method: :post  %> під вашим обліковим записом 
або <%= link_to 'зареєструйтесь', new_user_registration_path, method: :post %>, якщо ви тут вперше. все просто.
Одразу після реєстрації надійде електронний лист з проханням підтвердити реєстрацію.
Після підтвердження вам стануть доступними кошик покупця, сторінка особистого акаунту та історія ваших замовлень.
Приємних покупок.
</p>
<p></p>
<div class="google-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10486.046765657884!2d24.72159904986125!3d48.92469500681954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c1134ecde1fd%3A0xc4573d3ae24e5d27!2z0IbQstCw0L3Qvi3QpNGA0LDQvdC60ZbQstGB0YzQutCwINGA0LDRgtGD0YjQsA!5e0!3m2!1suk!2sua!4v1700727591538!5m2!1suk!2sua" width=100% height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
<p></p>
</div>
