@import 'colors';
@import 'fonts';


.user-even div, .user-even li {
  background-color: $back_ash_green;
  padding: 15px 10px 10px 10px;
}

.user-odd div, .user-odd li {
  background-color: $back3;
  padding: 15px 10px 10px 10px;
}

.user_orders {
  padding: 15px 10px 10px 10px;
}

.user_info {
  margin: 0;
}
