<h2>My cart</h2>
<div> <%= Time.zone.now %> </div>
<br>

<table>
  <thead>
    <tr>
      <th>N#</th>
      <th>Name</th>
      <th>Sku</th>
      <th>Qtty</th>
      <th>Price</th>
      <th>Cost</th>
      <th>Remove item</th>
    </tr>
  </thead>
  <%= render partial: 'cart_items' %>
</table>

<div>Total cost: <%= @sum %></div>

<%= button_to 'Order', orders_path, params: { user_id: current_user.id } %>
