@import 'colors';
@import 'fonts';

.csv-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3em;
  
  & div {
    height: 2em;
    background-color: $back3;
    align-self: center;
    padding: 0.6em 1em 0 1em;
    border-radius: 15px;

    
  }
}

.csv-block a, .product-index a {
  color: $color1;
  transition: all 100ms;
  padding: 3px 5px 3px 5px;
  border: 1px solid $back3;


  &:hover {
    color: $dark_green;
    // font-weight: bold;
    text-decoration: none;
    border: 1px solid $pink;
    border-radius: 10px;
  }
}
