@import 'colors';
@import 'fonts';

.csv-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4em;
  
  & div {
    height: 3em;
    background-color: $back3;
    align-self: center;
    padding: 0.6em 1em 0 1em;
    border-radius: 15px;

    & p {
      margin: 0em;
      color: red;
      text-align: end;
    }    
  }
}

.csv-block a, .product-index a {
  color: $color1;
  transition: all 100ms;
  padding: 3px 5px 3px 5px;
  border: 1px solid $back3;


  &:hover {
    color: $dark_green;
    text-decoration: none;
    border: 1px solid $pink;
    border-radius: 10px;
  }
}

.search-container {
  display: none;
}

@media only screen and (min-width: 768px) {
  .search-container {
    display: block;
  }
}
