$base-color: #046003;
$header-bk: rgba(168, 206, 184, 0.5);
$header-text-col: rgb(14, 54, 32);
$back1:  blanchedalmond;
$back2:  rgb(0, 0, 0);
$back3:  rgb(255, 255, 255);
$back4:  rgb(31, 31, 31);
$back5:  blue;
$color1: black;
$color2: rgb(183, 255, 0);
$color3: white;
$color4: red;
$color5: blue;

@mixin header-footer-container {
  background-color: $header-bk;
  font-family: sans-serif;
  font-weight: 700;
  font-size: large;
}
@mixin header-footer-link {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: $header-text-col;
  padding-right: 12px;
  
  &:hover {
    color: darkred;
    font-size: 1.3em;
  }
}

