@import 'colors';
@import 'fonts';

@import 'header';
@import 'footer';
@import 'products/index';
@import 'products/show';
@import 'products/_form';
@import 'product_categories/index';
@import 'admins/index';
@import 'devise/devise';
@import 'static_pages/about_project';

body {
  margin: 0 0 0 0;
  font-size: large;
  background-color: $back1;
}

#categories {
  background-color: $back5;
  color: $color3;
  font-weight: bold;
  font-size: 1.2em;
}

.invisible-container {
  display: none;
}

.visible-container {
  display: block;
}

a {
  color: $color1;
  transition: all 100ms;
  padding: 3px 5px 3px 5px;

  &:hover {
    color: $dark_green;
    text-decoration: none;
    border: 1px solid $pink;
    border-radius: 10px;
  }
}

.breadcrumbs {
  color: $color1;
  font-size: 1.0em;
  border: 2px, solid, green;
  text-align: left;
  margin-left: 5px;
  
  & a {
    color: black;
    &:hover {
      color: $color5;
      border: none;
    }
  }
}

.btn-container {
  display: flex;
  width: 250px;
  height: 4em;
  align-items: center;
  justify-content: center;

  & .submit-btn {
    color: $color3;
    background-color: $back2;
    font-size: 1.15em;
    border-radius: 5px;
    flex: 0 0 250px;
    height: 40px;
    vertical-align: middle;
    justify-self: center;
    transition: all 100ms;
  
    &:hover {
      color: $color2;
      font-size: 1.3em;
      border-radius: 15px;
    }
  }
}

.btn-width-450 {
  width: 450px;
  justify-content: center;
}

.header-msg-container {
  background-color: $back3;
  color: $color4;
  text-align: center;
}

.notice {
  color: blue;
  background-color: lightgreen;
  font-size: 1.25em;
  padding: 5px 0 5px 0;
}

.gap-3 {
  flex: 1 10 250px;
  height: inherit;
}

.content-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  margin-top: 30px;
}

.sidebar-container {
  display: none;
}

.mobile-sidebar-container {
  display: block;
  position: fixed;
  margin-top: 60px;
  z-index: 100;
  width: 66%;
  left: 0;
  top: 0;
  background: $back4;
  height: 100vh;
  padding: 1em;
}

.category {
  @include category-style;
  background-color: $back4;
  
}

.logo {
  display: none;
  // display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  padding: 5px 0 0 0;
  background-color: $back1;
  
  & a {
    border: 1px solid $back1;
  }
}

.yield-container {
  flex: 2 1 1000px;
  background-color: $back1;
  margin: 15px;
}
.filter-container {
  flex: 1 2 200px;
  border: 1px solid black;
}

.start-block {
  padding-top: 0px;
  min-height: 58vh;
  padding-top: 60px;
}

.font-bolt-medium {
  font-size: 1.4em;
  font-weight: bolt;
}

.row-even input, .row-evev select, .row-evev li, .row-evev div {
  background-color: $back3;
}

.row-odd input, .row-odd select, .row-odd li, .row-odd div {
  background-color: $back_ash_green;
}

@media only screen and (min-width: 768px) {

  .breadcrumbs {
    margin-left: 15%;
  }
  .start-block {
    padding-top: 80px;
  }
  .sidebar-container {
    flex: 1 2 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-top: 15px;
    margin-right: 10px;
  }

  .logo {
    display: flex;
  }
}
