@import 'colors';
@import 'fonts';

#cart {
  max-height: 50px;
  max-width: 45px;
  background-color: $back1;
  margin-top: 15px;
  padding-top: 5px;
  border: 1px solid $back1;
  border-radius: 10px;
  position: fixed;  
  right: 5px;
  top: -10px;

  & span#cart-total {
    position: relative;
    display: block;

    & span.cart-quantity {
      position: absolute;
      top: -7px;
      right: -7px;
      background: #fd6440;
      border-radius: 50%;
      display: flex;
      width: 20px;
      height: 20px;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 14px;
    }

    & a {
      border-radius: 10px;
      background: $back1;
      transition: all 100ms;
      padding: 12px 5px 3px 5px;

      &:hover {
        background: $mint_green;
        border: none;
      }
    }
  }
}

.mobile-menu-exit, .mobile-menu, .mobile-filter, .mobile-search, .mobile-uk, .mobile-en {
  color: white;
  max-height: 30px;
  max-width: 30px;
  background-color: $back1;
  position: fixed;
  top: 7px;
  cursor: pointer;
  
  &:hover {
    background-color: $mint_green;
  }
}

.icon-checked {
  background-color: $mint_green;
}

.mobile-menu-exit, .mobile-menu {
  left: 5px;
}

.mobile-filter {
  left: 45px;
}

.mobile-search {
  left: 85px;
}

.mobile-uk {
  left: 150px;
}

.mobile-en {
  left: 185px;
}

.gap-1 {
  flex: 0 15 20vh;
  height: inherit;
}

.gap-2 {
  flex: 0 10 10vh;
  border: 1px solid rgb(96, 192, 101);
  height: inherit;
}

.vertical-rod {
  flex: 0 0 1.5vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 3;
  margin: 0 0 20px 0;
}
  
.header-container {
  position: fixed;
  width: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  height: 43px;
  background-color: $back2;
  color: $color3;
  align-items: stretch;
}    

nav.menu-btn {
  display: block;
}

nav {
  display: none;
  position: fixed;
  margin-top: 60px;
  z-index: 100;
  width: 66%;
  left: 0;
  top: 0;
  background: $back4;
  height: 100vh;
  padding: 1em;
}
  
.link-block, .gap-1, .menu-item, .devise-menu, .languages {
  display: none;
}

a.header-link {
  color: $color3;
  font-size: 1.0em;
  padding: 0 10px 0 10px;
  transition: all 100ms;
  
  &:hover {
    color: $color2;
    border: 1px solid $pink;
    border-radius: 15px;
    font-size: 1.1em;
    text-decoration: none;
  }
}

button.header-btn {
  background-color: inherit;
  color: $color3;
  font-size: 1.3e;
  padding: 0 10px 0 10px;
  transition: all 100ms;
  &:hover {
    border: 1px solid $pink;
    border-radius: 15px;
    font-size: 1.45em;
    text-decoration: none;
  }
}

.mobile-filter, .mobile-search {
  z-index: 200;
}

// Screen resolution dependencies

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit, .mobile-filter, .mobile-search, .mobile-uk, .mobile-en {
    display: none;
  }

  .header-container {
    height: 60px;
  }    
  

  .link-block {
    flex: 0 1 800px;
    padding: 3px;
    display: flex;
    justify-content: space-around;
    
    & > div {
      flex: auto;
      width: 18vh;
      align-self: center;
      text-align: center;
    }
  }

  .devise-menu {
    width: 300px;
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 2em;
    
    & > div {
      display: flex;
      justify-content: space-around;
      width: 6em;
    }
  }

  #cart {
    position: relative;
  }
  
  .languages {
    flex: 0 1 15vh;
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 0 20px 0 20px;
    height: 2em;
    align-items: center;
    
    & > div {
      display: flex;
      justify-content: space-around;
      width: 2em;
    }
  }
    
  .menu-item {
    flex: 1 1 10vh;
    align-self: center;
    align-self: center;
    text-align: center;
  }
}

@media only screen and (min-width: 1200px) {
  a.header-link {
    font-size: 1.2em;
    
    &:hover {
      font-size: 1.35em;
    }
  }
}
