@import 'colors';
@import 'fonts';

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px 15px 15px 15px;
}

.show-container * {
  box-sizing: border-box;
}

.show-row {
	border: 1px solid blue;
  padding: 10px;
}

.show-container {
  padding: 5px 5px 8px 5px;
  display: flex;
  background: #fff;
  border: 1px solid #5b5bd3;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.show-img {
  height: 50%;
  width: 50%;
  border: 1px dotted green;
}

.show-control {
  margin: 20px;
  font-size: 1.1em;
  
  & a {
    border: 1px solid $back1;
  }
}

.product-gallery {
  display: flex;
  flex-direction: column-reverse;
  // align-items: center;
  position: relative;
  width: 100%;
  flex: 1 4 60%;
}

.add-img {
  justify-content: flex-start;
  align-content: space-around;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 0 0 0;
}

.full-size-image img {
  margin-bottom: 20px;
  max-width: 250px;
  max-height: 400px;
}

.product-cart-block {
  display: block;
  // width: 100%;
  // max-width: 40%;
  flex: 1 1 30%;

  // justify-content: space-between;
}

.product-sku {
  text-align: end;
}

.product-price {
  text-align: end;
  font-weight: bold;
  font-size: 1.3em;
  // margin: 5em 2em 1em 2em;
}

.product-cart-container {
  // display: flex;
  justify-content: end;
  font-weight: bold;
  font-size: 1.3em;
  // margin: 2em 2em 1em 2em;
}

.product-cart-container input {
  font-size: 0.8em;
  &:hover {
    font-size: 1em;
    padding-top: 0px;
    height: 1.5em;
  }
  }

.thumbnail-container {
  display: flex;
}

.thumbnail {
  margin: 5px;
  cursor: pointer;
}

.thumbnail img {
  width: 75px;
  height: 75px;
  border: 1px solid #ccc;
}

.thumbnail img:hover {
  border-color: #000;
}


@media only screen and (min-width: 768px) {
  .show-container {
    padding: 25px 25px 30px 25px;
    flex-wrap: nowrap;
  }
  
  .product-gallery {
    display: flex;
    // flex-direction: column;
    // align-items: center;
    position: relative;
    width: 100%;
    flex: 1 4 60%;
  }

  .thumbnail img {
    width: 100px;
    height: 100px;
  }
  
  .full-size-image img {
    max-width: 400px;
    max-height: 600px;
  }

  .product-cart-block {
    width: 100%;
    max-width: 40%;
    // justify-content: space-between;
  }
  
  // .product-sku {
  //   text-align: end;
  // }
  
  .product-price {
    margin: 5em 2em 1em 2em;
  }
  
  .product-cart-container {
    display: flex;
    margin: 2em 2em 1em 2em;
  }
  
}

@media only screen and (min-width: 1200px) {
  .full-size-image img {
    max-width: 600px;
    max-height: 800px;
  }
  
  .thumbnail img {
    width: 125px;
    height: 125px;
  }
}
